:root {
  --color-orange: oklch(0.7397 0.2057 47.88);
  --color-green: oklch(0.7634 0.1947 159.75);
  --color-blue: oklch(0.6295 0.2128 246.71);
  --color-purple: oklch(0.7384 0.2783 342);
  --color-plain: graytext;
}